# Parameters of the shaped pulse
###########################
base		# Base
0		# Type of shape (in terms of bits, there are 2^number of increments for phase and amplitude) If set to 0 then it is not used
128      	# Number of pixels (pixel width = 2 / total time)
900		# Total energy of the input pulse in the shaper (in micro Joules per cm squared)
1000.0		# Full Width at Half Maximum of the input pulse (in cm-1)
30000		# Central frequency of the input pulse (in cm-1)
#			
