# Parameters of the shaped pulse
###########################
{{  basis  }}		# Basis
{{  shape  }}		# Type of shape (in terms of bits, there are 2^number of increments for phase and amplitude) If set to 0 then it is not used
{{  nb_pixels  }}   # Number of pixels (pixel width = 2 / total time)
{{  energy  }}		# Total energy of the input pulse in the shaper (in micro Joules per cm squared)
{{  fwhm  }}		# Full Width at Half Maximum of the input pulse (in cm-1)
{{  frequency  }}	# Central frequency of the input pulse (in cm-1)
#			
